In [71]:
# Set of utilities for reading and exporting data from the Database

In [72]:
import time, datetime
import pandas as pd
import sqlite3 as sq

In [73]:
def connect_to_db():
    """Connect to Database"""
    db = sq.connect('mydb')
    cursor = db.cursor()
    
    return db

In [74]:
def get_data(db, sql):
    data = pd.read_sql(sql, db)
    return data

In [75]:
# Establish Database connection
db = connect_to_db()

In [76]:
'''SQL query'''
# sql = 'SELECT * FROM data LIMIT 100'
sql = 'SELECT * FROM data WHERE difference < -15 OR difference > 15'

data = get_data(db, sql)

In [77]:
# Print first 50 results
print(data.head(50))

# Save to .csv file
# data.to_csv('Output.csv')

                          time         inav  market_index  difference
0   2017-02-15 11:45:31.474046  9527.429983       9545.08  -17.650017
1   2017-02-15 11:45:32.983345  9527.003590       9544.50  -17.496410
2   2017-02-15 11:45:34.232878  9526.638111       9544.50  -17.861889
3   2017-02-15 11:45:36.677809  9526.211719       9544.80  -18.588281
4   2017-02-15 11:45:38.276971  9526.089893       9544.73  -18.640107
5   2017-02-15 11:45:39.523821  9526.028980       9544.76  -18.731020
6   2017-02-15 11:45:41.328453  9526.028980       9544.79  -18.761020
7   2017-02-15 11:45:43.643234  9525.907153       9544.61  -18.702847
8   2017-02-15 11:45:48.660672  9525.785327       9543.56  -17.774673
9   2017-02-15 11:45:50.114321  9525.602587       9543.37  -17.767413
10  2017-02-15 11:45:52.179021  9525.419848       9542.52  -17.100152
11  2017-02-15 11:45:53.641962  9525.419848       9542.38  -16.960152
12  2017-02-15 11:45:55.054222  9525.176195       9542.32  -17.143805
13  2017-02-15 11:45:57.096952  9525.237108       9542.20  -16.962892
14  2017-02-15 11:45:58.904960  9525.663500       9542.08  -16.416500
15  2017-02-15 11:46:01.208720  9526.577198       9541.80  -15.222802